In [1]:
import pandas as pd

In [6]:
dfFire1 = pd.read_csv('fire/donneesouvertes-interventions-sim.csv', encoding = 'latin')

In [7]:
dfFire1.head()

,incident_nbr,creation_date_time,incident_type_desc,description_groupe,caserne,nom_ville,nom_arrond,division,latitude,longitude,nombre_unites
0,1,2015-01-01 00:03:22,Inondation,Sans incendie,26,Montréal,Plateau Mont-Royal,11,45.535698,-73.580575,1.0
1,2,2015-01-01 00:05:58,Ac.véh./1R/s.v./ext/29B/D,Premier répondant,25,Montréal,Ville-Marie,10,45.494499,-73.574247,2.0
2,3,2015-01-01 00:08:34,Appel de Cie de détection,Alarmes-incendies,64,Montréal,Lachine,7,45.442005,-73.665779,3.0
3,4,2015-01-01 00:11:28,Premier répondant,Premier répondant,38,Montréal,Rivière-des-Prairies / Pointe-aux-Trembles,6,45.641294,-73.489981,1.0
4,5,2015-01-01 00:14:06,Odeur suspecte - gaz,Sans incendie,34,Montréal,Côte-des-Neiges / Notre-Dame-de-Grâce,9,45.483883,-73.615028,2.0

In [36]:
dfFire2 = pd.read_csv('fire/donneesouvertes-interventions-sim-2005-2014.csv')

In [37]:
dfFire2.head()

,INCIDENT_NBR,CREATION_DATE_TIME,INCIDENT_TYPE_DESC,DESCRIPTION_GROUPE,CASERNE,NOM_VILLE,NOM_ARROND,DIVISION,LATITUDE,LONGITUDE,NOMBRE_UNITES
0,1,2005-01-01 00:03:47,Inondation,Sans incendie,18,Montréal-Nord,Montréal-Nord,21,45.620274,-73.619956,1.0
1,2,2005-01-01 00:03:56,Alarme privé ou locale,Alarmes-incendies,10,Montréal,Ville-Marie / Parc Jean-Drapeau / Centre-Sud,18,45.494087,-73.582587,7.0
2,3,2005-01-01 00:03:57,Alarme privé ou locale,Alarmes-incendies,72,Saint-Laurent,St-Laurent,13,45.484406,-73.693038,6.0
3,4,2005-01-01 00:05:01,Inondation,Sans incendie,13,Montréal,Mercier / Hochelaga-Maisonneuve,23,45.541383,-73.545944,1.0
4,5,2005-01-01 00:06:20,Inondation,Sans incendie,18,Montréal-Nord,Montréal-Nord,21,45.611304,-73.632440,1.0

In [38]:
dfTravel = pd.read_csv('travel/trips.csv')

In [39]:
dfTravel.head()

,LinkId,SrcDetectorId,DestDetectorId,PathDistance_m,TripStart_dt,TripEnd_dt,Speed_kmh,TravelTime_s
0,LCC_35-34,35,34,448,2016-01-25 15:40:49,2016-01-25 15:41:16,59.733333,27
1,LCC_35-34,35,34,448,2016-01-25 15:40:52,2016-01-25 15:41:19,59.733333,27
2,LSh_05-06,5,6,403,2016-01-25 15:40:53,2016-01-25 15:41:21,51.814286,28
3,LSh_02-01,2,1,1192,2016-01-25 15:40:19,2016-01-25 15:41:41,52.331707,82
4,LSJ_41-39,41,39,298,2016-01-25 15:40:16,2016-01-25 15:41:45,12.053933,89

In [53]:
dfTravel.shape

(29570611, 8)

In [46]:
dfTravelMean = dfTravel[['Speed_kmh','LinkId']].groupby('LinkId').mean()

In [61]:
dfTravelDescribe = dfTravel[['Speed_kmh','LinkId']].groupby('LinkId').describe()
dfTravelDescribe.head()

          Speed_kmh                                                       \
              count       mean        std       min       25%        50%
LinkId
LAy_65-67   78113.0   9.826105  10.848613  0.376000  2.383099   6.042857
LAy_66-65  102680.0  13.641882  11.946840  0.375995  4.254545  10.173913
LBH_80-66   37174.0  10.336483  10.301811  0.462000  2.053333   6.872727
LBe_85-86  116020.0  21.484541  16.055218  0.682000  8.129801  19.181250
LBe_86-85   50987.0  12.040391  11.857250  0.682000  2.316226   8.584615


                 75%        max
LinkId
LAy_65-67  12.533333  56.400000
LAy_66-65  20.057143  59.236364
LBH_80-66  15.120000  59.400000
LBe_85-86  32.305263  72.211765
LBe_86-85  18.052941  72.211765

In [62]:
dfTravelMedian = dfTravel[['Speed_kmh','LinkId']].groupby('LinkId').median()

In [64]:
dfTravelMedian.columns = ['Median']

In [65]:
dfTravelMedian.head()

              Median
LinkId
LAy_65-67   6.042857
LAy_66-65  10.173913
LBH_80-66   6.872727
LBe_85-86  19.181250
LBe_86-85   8.584615

In [66]:
dfTravelDescribe['Median']=dfTravelMedian['Median']

In [68]:
dfTravelDescribe.head()

          Speed_kmh                                                       \
              count       mean        std       min       25%        50%
LinkId
LAy_65-67   78113.0   9.826105  10.848613  0.376000  2.383099   6.042857
LAy_66-65  102680.0  13.641882  11.946840  0.375995  4.254545  10.173913
LBH_80-66   37174.0  10.336483  10.301811  0.462000  2.053333   6.872727
LBe_85-86  116020.0  21.484541  16.055218  0.682000  8.129801  19.181250
LBe_86-85   50987.0  12.040391  11.857250  0.682000  2.316226   8.584615

                                    Median
                 75%        max
LinkId
LAy_65-67  12.533333  56.400000   6.042857
LAy_66-65  20.057143  59.236364  10.173913
LBH_80-66  15.120000  59.400000   6.872727
LBe_85-86  32.305263  72.211765  19.181250
LBe_86-85  18.052941  72.211765   8.584615

In [60]:
dfTravelMean.describe()

        Speed_kmh
count  217.000000
mean    20.625399
std      7.599889
min      4.460452
25%     14.528574
50%     19.993644
75%     26.400845
max     39.433245

In [56]:
dfTravelStd = dfTravel[['Speed_kmh','LinkId']].groupby('LinkId').std()
dfTravelStd.head()

           Speed_kmh
LinkId
LAy_65-67  10.848613
LAy_66-65  11.946840
LBH_80-66  10.301811
LBe_85-86  16.055218
LBe_86-85  11.857250

In [59]:
dfTravel[dfTravel['LinkId']=='LAy_65-67'].describe()

,SrcDetectorId,DestDetectorId,PathDistance_m,Speed_kmh,TravelTime_s
count,78113.0,78113.0,78113.000000,78113.000000,78113.000000
mean,65.0,67.0,187.984074,9.826105,278.871878
std,0.0,0.0,0.177758,10.848613,390.217237
min,65.0,67.0,186.000000,0.376000,12.000000
25%,65.0,67.0,188.000000,2.383099,54.000000
50%,65.0,67.0,188.000000,6.042857,112.000000
75%,65.0,67.0,188.000000,12.533333,284.000000
max,65.0,67.0,188.000000,56.400000,1800.000000

In [49]:
dfTravelMean.shape

(217, 1)

In [51]:
dfBornes = pd.read_csv('travel/bornes.csv', encoding = 'latin')
dfBornes.head()

,IdLink,channel_name,active,LinkID,SrcDetectorId,SrcLatitude,SrcLongitude,DestDetectorId,DestLatitude,DestLongitude,LinkName,RouteDirectionName,SrcChannelId,DestChannelId,LineDistance_m,last_poll_time
0,1,Saint-Michel-Industriel,1,LCh_10-16,10,45.576028,-73.636462,16,45.564785,-73.644943,Charland:Saint-Michel a Papineau,O,11,17,1410,2017-02-28 16:20:51.573000000
1,2,Papineau-charland,1,LCh_16-10,16,45.564785,-73.644943,10,45.576028,-73.636462,Charland:Papineau a Saint-Michel,N,17,11,1414,2017-02-28 16:20:52.557000000
2,3,Papineau-Henri-Bourassa,1,LHB_15-20,15,45.570268,-73.658807,20,45.555365,-73.668393,Henri-Bourassa:Papineau a Lajeunesse,O,16,21,1818,2017-02-28 16:20:48.677000000
3,4,Henri-Bourassa-Lajeunesse,1,LHB_20-15,20,45.555365,-73.668393,15,45.570268,-73.658807,Henri-Bourassa:Lajeunesse a Papineau,N,21,16,1818,2017-02-28 16:20:50.267000000
4,5,Henri-Bourassa-Lajeunesse,1,LHB_20-21,20,45.555365,-73.668393,21,45.534987,-73.680712,Henri_Bourassa:Lajeunesse a Bourassa-Acadie,O,21,22,2460,2017-02-28 16:20:50.267000000

In [52]:
dfBornes.shape

(274, 16)

In [ ]:
dfBornes['LinkID']

In [69]:
dfBornesNew = dfBornes[:]

In [72]:
dfBornesNew = dfBornesNew.set_index('LinkID')

In [73]:
dfBornesNew.head()

,IdLink,channel_name,active,SrcDetectorId,SrcLatitude,SrcLongitude,DestDetectorId,DestLatitude,DestLongitude,LinkName,RouteDirectionName,SrcChannelId,DestChannelId,LineDistance_m,last_poll_time
LinkID,,,,,,,,,,,,,,,
LCh_10-16,1,Saint-Michel-Industriel,1,10,45.576028,-73.636462,16,45.564785,-73.644943,Charland:Saint-Michel a Papineau,O,11,17,1410,2017-02-28 16:20:51.573000000
LCh_16-10,2,Papineau-charland,1,16,45.564785,-73.644943,10,45.576028,-73.636462,Charland:Papineau a Saint-Michel,N,17,11,1414,2017-02-28 16:20:52.557000000
LHB_15-20,3,Papineau-Henri-Bourassa,1,15,45.570268,-73.658807,20,45.555365,-73.668393,Henri-Bourassa:Papineau a Lajeunesse,O,16,21,1818,2017-02-28 16:20:48.677000000
LHB_20-15,4,Henri-Bourassa-Lajeunesse,1,20,45.555365,-73.668393,15,45.570268,-73.658807,Henri-Bourassa:Lajeunesse a Papineau,N,21,16,1818,2017-02-28 16:20:50.267000000
LHB_20-21,5,Henri-Bourassa-Lajeunesse,1,20,45.555365,-73.668393,21,45.534987,-73.680712,Henri_Bourassa:Lajeunesse a Bourassa-Acadie,O,21,22,2460,2017-02-28 16:20:50.267000000

In [78]:
dfTravelDescribe['SrcLatitude']= dfBornesNew['SrcLatitude']
dfTravelDescribe['SrcLongitude'] = dfBornesNew['SrcLongitude']
dfTravelDescribe['DestLatitude'] = dfBornesNew['DestLatitude']
dfTravelDescribe['DestLongitude'] = dfBornesNew['DestLongitude']

In [79]:
dfTravelDescribe.head()

          Speed_kmh                                                       \
              count       mean        std       min       25%        50%
LinkId
LAy_65-67   78113.0   9.826105  10.848613  0.376000  2.383099   6.042857
LAy_66-65  102680.0  13.641882  11.946840  0.375995  4.254545  10.173913
LBH_80-66   37174.0  10.336483  10.301811  0.462000  2.053333   6.872727
LBe_85-86  116020.0  21.484541  16.055218  0.682000  8.129801  19.181250
LBe_86-85   50987.0  12.040391  11.857250  0.682000  2.316226   8.584615

                                    Median SrcLatitude SrcLongitude  \
                 75%        max
LinkId
LAy_65-67  12.533333  56.400000   6.042857   45.505217   -73.570633
LAy_66-65  20.057143  59.236364  10.173913   45.504283   -73.568733
LBH_80-66  15.120000  59.400000   6.872727   45.503033   -73.566383
LBe_85-86  32.305263  72.211765  19.181250   45.515317   -73.561083
LBe_86-85  18.052941  72.211765   8.584615   45.517033   -73.564717

          DestLatitude DestLongitude

LinkId
LAy_65-67    45.506133    -73.572633
LAy_66-65    45.505217    -73.570633
LBH_80-66    45.504283    -73.568733
LBe_85-86    45.517033    -73.564717
LBe_86-85    45.515317    -73.561083

In [81]:
dfTravelDescribe['LatitudeMean'] = (dfTravelDescribe['SrcLatitude']+dfTravelDescribe['DestLatitude'])/2
dfTravelDescribe['LongitudeMean'] = (dfTravelDescribe['SrcLongitude']+dfTravelDescribe['DestLongitude'])/2

In [83]:
dfTravelDescribe.head()

          Speed_kmh                                                       \
              count       mean        std       min       25%        50%
LinkId
LAy_65-67   78113.0   9.826105  10.848613  0.376000  2.383099   6.042857
LAy_66-65  102680.0  13.641882  11.946840  0.375995  4.254545  10.173913
LBH_80-66   37174.0  10.336483  10.301811  0.462000  2.053333   6.872727
LBe_85-86  116020.0  21.484541  16.055218  0.682000  8.129801  19.181250
LBe_86-85   50987.0  12.040391  11.857250  0.682000  2.316226   8.584615

                                    Median SrcLatitude SrcLongitude  \
                 75%        max
LinkId
LAy_65-67  12.533333  56.400000   6.042857   45.505217   -73.570633
LAy_66-65  20.057143  59.236364  10.173913   45.504283   -73.568733
LBH_80-66  15.120000  59.400000   6.872727   45.503033   -73.566383
LBe_85-86  32.305263  72.211765  19.181250   45.515317   -73.561083
LBe_86-85  18.052941  72.211765   8.584615   45.517033   -73.564717

          DestLatitude DestLongitude LatitudeMean LongitudeMean

LinkId
LAy_65-67    45.506133    -73.572633    45.505675    -73.571633
LAy_66-65    45.505217    -73.570633    45.504750    -73.569683
LBH_80-66    45.504283    -73.568733    45.503658    -73.567558
LBe_85-86    45.517033    -73.564717    45.516175    -73.562900
LBe_86-85    45.515317    -73.561083    45.516175    -73.562900

In [11]:
#number of incident
dfFire1.shape

(342722, 11)

In [85]:
dfTravelDescribe.to_csv('dfTravelDescribe.csv')

In [12]:
# number of type of incident
len(set(dfFire1['incident_type_desc']))

137

In [13]:
# number of type of description groupe
len(set(dfFire1['description_groupe']))

6

In [15]:
# number of caserne
len(set(dfFire1['caserne']))

66

In [16]:
# number of cities
len(set(dfFire1['nom_ville']))

16

In [17]:
# number of arrondissement 
len(set(dfFire1['nom_arrond']))

20

In [19]:
#number of division  
len(set(dfFire1['division']))

13

In [31]:
# how many data we have localisation
print(len(set(dfFire1['latitude']))) 
print(len(set(dfFire1['longitude'])))

29943
29943

In [27]:
# incident by count
dfFire1.groupby('incident_type_desc')['incident_nbr'].count().sort_values(ascending=False)[:20]

incident_type_desc
Premier répondant                 220076
Appel de Cie de détection          20158
Alarme privé ou locale             14146
Ac.véh./1R/s.v./ext/29B/D          14101
Aliments surchauffés                9070
10-22 sans feu                      7505
Problèmes électriques               6407
Inondation                          6303
Odeur suspecte - gaz                5447
Acc. sans victime sfeu - ext.       4684
Ascenseur                           4507
Déchets en feu                      3611
Feu de champ *                      3550
Ac.véh./1R/s.v./V.R./29B/D          2935
Structure dangereuse                2275
Aide à un citoyen                   1893
10-22 avec feu                      1846
Alarme vérification                 1665
Fuite ext.:hydrocar. liq. div.      1374
Feu de véhicule extérieur           1208
Name: incident_nbr, dtype: int64

In [28]:
dfFire1.groupby('description_groupe')['incident_nbr'].count().sort_values(ascending=False)

description_groupe
Premier répondant              238000
Sans incendie                   56064
Alarmes-incendies               36105
Autres incendies                 8893
Incendies de bâtiments           3300
Fausses alertes/annulations       360
Name: incident_nbr, dtype: int64

In [40]:
dfFire1.head()

,incident_nbr,creation_date_time,incident_type_desc,description_groupe,caserne,nom_ville,nom_arrond,division,latitude,longitude,nombre_unites
0,1,2015-01-01 00:03:22,Inondation,Sans incendie,26,Montréal,Plateau Mont-Royal,11,45.535698,-73.580575,1.0
1,2,2015-01-01 00:05:58,Ac.véh./1R/s.v./ext/29B/D,Premier répondant,25,Montréal,Ville-Marie,10,45.494499,-73.574247,2.0
2,3,2015-01-01 00:08:34,Appel de Cie de détection,Alarmes-incendies,64,Montréal,Lachine,7,45.442005,-73.665779,3.0
3,4,2015-01-01 00:11:28,Premier répondant,Premier répondant,38,Montréal,Rivière-des-Prairies / Pointe-aux-Trembles,6,45.641294,-73.489981,1.0
4,5,2015-01-01 00:14:06,Odeur suspecte - gaz,Sans incendie,34,Montréal,Côte-des-Neiges / Notre-Dame-de-Grâce,9,45.483883,-73.615028,2.0

In [44]:
dfFire1[['incident_nbr','caserne']].groupby('caserne').mean()

         incident_nbr
caserne
3        61761.077808
4        60489.275663
5        62659.130761
8        62994.644306
9        61171.377165
10       62836.879194
13       62605.771373
14       61210.856101
15       61908.573337
16       62978.292098
17       61231.204365
18       61125.913411
19       61520.502806
20       62077.027373
21       60681.863712
22       60212.609295
23       61319.457085
25       62962.036141
26       62676.389322
27       62114.510106
28       61487.904475
29       62271.656071
30       62730.460070
31       63172.740413
32       60300.138921
33       61249.113259
34       62720.486352
35       61042.825806
37       60802.768892
38       61554.904308
...               ...
45       60789.962951
46       61266.149152
47       63047.901500
48       62609.431770
49       61634.728416
50       59687.693885
51       60263.829555
52       61248.872399
53       61880.803441
54       61765.207360
55       61922.063524
56       61675.649944
57       61405.207903
58       61301.609792
59       62283.390465
61       61310.175907
62       62429.685654
63       60900.181125
64       61659.947047
65       61445.131678
66       61328.938954
67       62824.922031
71       61456.736099
72       62505.287180
73       61681.431636
74       60768.976075
75       62959.443491
76       63828.876874
77       62619.084577
78       60766.247423

[66 rows x 1 columns]